{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

<!--  Inscription investisseurs -->
<section id="inscription" class="bg-light">

	<div class="container">
		<div class="row mb-5">
			<div class="col-md-8 mx-auto text-center">
				<h5 class="mb-3">Inscription investisseurs</h5>
				<h1 class="text-uppercase text-center">Inscription investisseurs</h1>
				<h6 class="text-muted text-center mt-3 ">&#42;
					Cette inscription est obligatoire conformément à la législation du crowdfunding (gratuite et sans
					engagement)
					Vos données sont protégées et sécurisées.
					Veuillez noter que tous les champs sont obligatoires et qu'une demande incomplète pourrait être
					rejetée</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 mx-auto">
				
				<!-- Registration Form -->
				<div class="">
					{{ include('registration/registrationForm.html.twig')}}
				</div>


				

			</div>
		</div>

	</div>

</section>
<!--  //Inscription investisseurs -->
{{ include('footer.html.twig')}}

{% endblock %}