{% extends 'base.html.twig' %}

{% block title %}Questionnaire
{% endblock %}

{% block body %}

<section id="questionnaire" class="bg-light">

    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 mx-auto text-center">
                <h5 class="mb-3">Inscription investisseurs</h5>
                <h1 class="text-uppercase text-center">Questionnaire d'investisseur</h1>
                <h6 class="text-muted text-center mt-3 ">&#42;
                    Merci de remplir ce formulaire pour finaliser votre inscription sur le site en tant qu'investisseur</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                {{ form_start(questionnaireForm) }}
              

                {{ form_end(questionnaireForm) }}
            </div>
            </div>
            </div>
        </section>
            <!--  //Inscription investisseurs -->
            {{ include('footer.html.twig')}}

{% endblock %}
